{
  "presets": [["env", { "targets": { "node": "8.6" } }], "stage-2"],
  "env": {
    "development": {
      "sourceMaps": "inline"
    },
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ],
        "stage-2"
      ]
    }
  }
}
